openapi: 3.0.0
info:
  title: AutoPilot API
  description: Set of API that allow CRM to communicate with AutoPilotHQ
  version: "0.0.3-oas3"
servers:
  - url: 'https://private-anon-b40d4dece5-autopilot.apiary-mock.com/v1'

security:
  - autopilotapikey: []
tags:
  - name: contact-operation
    description: Operation performed specific to a contact
  - name: contact-subscription
    description: Operations performed to either subscribe a contact or unsubscribe
  - name: list-operation
    description: Operations performed on list in AutoPilot
  - name: account-info
    description: Operations performed to retrive account information
  - name: custom-fields
    description: Operations performed to retrive all Custom Fields
  - name: smart-segment
    description: Operations relating to smart segments
  - name: hooks
    description: Operations relating to hooks
  - name: triggers
    description: Operations relating to triggers
paths:
  '/contact':
    post:
      tags:
        - contact-operation
      summary: Create or update a contact
      description: Create or update a contact
      operationId: createOrUpdateContact
      requestBody:
        description: Values needed to be sent to AutoPilot
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContact'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  '/contacts':
    post:
      tags:
        - contact-operation
      summary: Create or update multiple contact
      description: Create or update multiple contact
      operationId: createOrUpdateContacts
      requestBody:
        description: Values needed to be sent to AutoPilot
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    get:
      tags:
        - contact-operation
      summary: Get first set of contacts present in AutoPilot
      description: Get first set of contacts present in AutoPilot
      operationId: getFirstContactSet
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: No autopilot key was provided

  '/contacts/{bookmark}':
    get:
      tags:
        - contact-operation
      summary: Get next set of contacts present in AutoPilot
      description: Get next set of contacts present in AutoPilot
      operationId: getNextContactSet
      parameters:
        - name: bookmark
          in: path
          description: Bookmark is used to access next group
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: No autopilot key was provided
  '/contact/{contact-email}':
    get:
      tags:
        - contact-operation
      summary: Returns contact information from AutoPilot
      operationId: getContactInfo
      parameters:
        - name: contact-email
          in: path
          description: Identify a contact in AutoPilot
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid AutoPilot Key provided in header
        '401':
          description: Provided AutoPilot Key is not valid
        '404':
          description: Contact could not be found
        '500':
          description: Internal Server Error
    delete:
      tags:
        - contact-operation
      summary: Delete a contact from AutoPilot
      description: This API will remove this contact from AutoPilot
      operationId: deleteContact
      parameters:
        - name: contact-email
          in: path
          description: Identify a contact in AutoPilot
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Invalide email address
        '403':
          description: Could not delete contact
        '404':
          description: Contact could not be found.
        '500':
          description: Internal Server Error

  '/contact/{contact-email}/unsubscribe':
    post:
      tags:
        - contact-subscription
      summary: Unsubscribe a contact in AutoPilot
      description: Unsubscribe a contact in AutoPilot
      operationId: unsubscribeContact
      parameters:
        - name: contact-email
          in: path
          description: Identify a contact in AutoPilot
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Invalid email address or not autopilot key provided
        '404':
          description: Contact cannot be found
        '429':
          description: Your request was throttled
        '500':
          description: Internal Server Error

  /lists:
    get:
      tags:
        - list-operation
      summary: Returns all list present in AutoPilot
      operationId: getAllList
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid email address or not autopilot key provided
        '401':
          description: Key not valid
        '429':
          description: Your request was throttled
        '500':
          description: Internal Server Error
  '/list/{list_id}/contact/{contact_email}':
    get:
      tags:
        - list-operation
      summary: Check if contact is present in AutoPilot
      operationId: checkContactInList
      parameters:
        - name: list_id
          in: path
          description: List Id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: contact_email
          in: path
          description: Contact email address
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid email address or not autopilot key provided
        '401':
          description: Key not valid
        '429':
          description: Your request was throttled
        '500':
          description: Internal Server Error
    post:
      tags:
        - list-operation
      summary: Add contact to list
      operationId: addToList
      parameters:
        - name: list_id
          in: path
          description: List Id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: contact_email
          in: path
          description: Contact email address
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: Invalid email address or not autopilot key provided
        '401':
          description: Key not valid
        '404':
          description: Contact not found
        '429':
          description: Your request was throttled
        '500':
          description: Internal Server Error
    delete:
      tags:
        - list-operation
      summary: Remove a contact from a list in AutoPilot
      description: This API will remove this contact from a list
      operationId: removeFromList
      parameters:
        - name: list_id
          in: path
          description: List Id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: contact_email
          in: path
          description: Identify a contact in AutoPilot
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Invalide email address
        '401':
          description: AutoPilot key is not valid
        '404':
          description: Contact could not be found.
        '429':
          description: Could not delete contact
        '500':
          description: Internal Server Error
  '/list/{list_id}/contacts':
    get:
      tags:
        - list-operation
      summary: Get first set of contacts present in a list from AutoPilot
      description: Get first set of contacts present in a list from AutoPilot
      operationId: getFirstContactSetInList
      parameters:
        - name: list_id
          in: path
          description: List Id
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  '/list/{list_id}/contacts/{bookmark}':
    get:
      tags:
        - list-operation
      summary: Get next set of contacts present in a list from AutoPilot
      description: Get next set of contacts present in a list from AutoPilot
      operationId: getNextContactSetInList
      parameters:
        - name: list_id
          in: path
          description: List Id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: bookmark
          in: path
          description: Bookmark
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /account:
    get:
      tags:
        - account-info
      summary: Get the Account Information from AutoPilot
      operationId: getAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /contacts/custom_fields:
    get:
      tags:
        - custom-fields
      summary: Get custom fields present in AutoPilot
      operationId: getCustomFields
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /smart_segments:
    get:
      tags:
        - smart-segment
      summary: get all list present in smart segment
      operationId: getSegment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /hooks:
    get:
      tags:
        - hooks
      summary: get all list of all hooks present in AutoPilot
      operationId: getHooks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: No autopilot key provided
        '401':
          description: Invalid auto pilot key
        '429':
          description: Request throttled
        '500':
          description: Internal Server Error
    delete:
      tags:
        - hooks
      summary: delete all hooks
      operationId: deleteHooks
      responses:
        '200':
          description: OK
        '400':
          description: No autopilot key provided
        '401':
          description: Invalid auto pilot key
        '429':
          description: Request throttled
        '500':
          description: Internal Server Error
  /hook:
    post:
      tags:
        - hooks
      summary: register a hook
      operationId: registerHooks
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                type: object
  '/hook/{hook_id}':
    delete:
      tags:
        - hooks
      summary: Unregister a hook
      operationId: unregisterHook
      parameters:
        - name: hook_id
          in: path
          description: Hook Id
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: No autopilot key provided
        '401':
          description: Invalid auto pilot key
        '429':
          description: Request throttled
        '500':
          description: Internal Server Error
  /triggers:
    get:
      tags:
        - triggers
      summary: get all list of all journey with API triggers
      operationId: getTriggers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
        '400':
          description: No autopilot key provided
        '401':
          description: Invalid auto pilot key
        '404':
          description: Contact not found
        '500':
          description: Internal Server Error
  '/trigger/{trigger_id}/contact/{contact_email}':
    post:
      tags:
        - triggers
      summary: Add a contact to journey
      operationId: addTriggers
      parameters:
        - name: trigger_id
          in: path
          description: Trigger Id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: contact_email
          in: path
          description: Contact Email Address
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
        '400':
          description: No autopilot key provided
        '401':
          description: Invalid auto pilot key
        '404':
          description: Contact not found
        '500':
          description: Internal Server Error
components:
  schemas:
    AddContact:
      type: object
    body:
      type: object
      properties:
        event:
          type: string
        target_url:
          type: string
  securitySchemes:
    autopilotapikey:
      type: apiKey
      name: autopilotapikey
      in: header
